*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background: #081b29;
}
/*----logo and navbar 5 choices----*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*logo*/
.logo{
    
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px
}
/*----first line----*/
.navbar a{
    
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #f7fd54;
   
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(Purple\ Illustrated\ Mountain\ images\ Wallpaper.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;}

.home-content{
        max-width: 600px;
}
.home-content h3{
        font-size: 32px;
        font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;

}
.home-content p{
    font-size: 20px;
}